# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project Assets (Generated dynamically)
assets/bg_*.mp4
assets/voice.mp3
assets/subs.json
*.png
*.mp4.txt
*.json
*.mp3
actions-runner/*

# Secrets
client_secrets.json
token.json

# IDE
.vscode/
.idea/
